<h2>Especialidades</h2>
<table border="1">
    <tbody>
        <colgroup>
            <col span="2">
            <col>
        </colgroup>
        <tr>
            <td><strong>Más usada</strong></td>
            <td></td>
        </tr> 
        <tr>
            <td><strong>Menos usada</strong></td>
            <td></td>
        </tr> 
        <tr>
            <td><strong>Mejores comentarios</strong></td>
            <td></td>
        </tr> 
        <tr>
            <td><strong>Peores comentarios</strong></td>
            <td></td>
        </tr> 
    </tbody>
</table>