<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" border="1">

    <ng-container matColumnDef="NombreEspecialista">
      <th mat-header-cell *matHeaderCellDef> Especialista </th>
      <td mat-cell *matCellDef="let element"> {{element.NombreEspecialista}} </td>
    </ng-container>

    <ng-container matColumnDef="Especialidad">
      <th mat-header-cell *matHeaderCellDef> Especialidad </th>
      <td mat-cell *matCellDef="let element"> {{element.Especialidad}} </td>
    </ng-container>

    <ng-container matColumnDef="NombreCliente">
      <th mat-header-cell *matHeaderCellDef> Cliente </th>
      <td mat-cell *matCellDef="let element"> {{element.NombreCliente}} </td>
    </ng-container>

    <ng-container matColumnDef="Fecha">
      <th mat-header-cell *matHeaderCellDef> Fecha </th>
      <td mat-cell *matCellDef="let element"> {{element.Fecha.toDate() | date: 'dd/M/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="Estado">
      <th mat-header-cell *matHeaderCellDef> Estado del turno </th>
      <td mat-cell *matCellDef="let element"> {{element.Estado}} </td>
    </ng-container>

    <ng-container matColumnDef="Consultorio">
        <th mat-header-cell *matHeaderCellDef> Consultorio </th>
        <td mat-cell *matCellDef="let element"> {{element.Consultorio}} </td>
      </ng-container>

    <ng-container matColumnDef="CancelarTurno">
      <th mat-header-cell *matHeaderCellDef> Cancelar Turno </th>
      <td mat-cell *matCellDef="let element">

        <div *ngIf="element.Estado == 'Pendiente'; else disableBtn">
          <button mat-flat-button color="primary" (click)="cancelarTurno(element)">Cancelar</button>
        </div>
        <ng-template #disableBtn>
          <button mat-flat-button color="primary" disabled>Cancelar</button>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="FinalizarTurno">
      <th mat-header-cell *matHeaderCellDef> Finalizar Turno </th>
      <td mat-cell *matCellDef="let element">

        <div *ngIf="element.Estado == 'Pendiente'; else disableBtn">
          <button mat-flat-button color="primary" (click)="finalizarTurno(element)">Finalizar</button>
        </div>
        <ng-template #disableBtn>
          <button mat-flat-button color="primary" disabled>Finalizar</button>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="Encuesta">
      <th mat-header-cell *matHeaderCellDef> Realizar Encuesta </th>
      <td mat-cell *matCellDef="let element">

        <div *ngIf="element.Estado == 'Finalizado' && element.Encuesta == undefined; else disableBtn">
          <button mat-flat-button color="primary" (click)="realizarEncuesta(element)">Encuesta</button>
        </div>
        <ng-template #disableBtn>
          <button mat-flat-button color="primary" disabled>Encuesta</button>
        </ng-template>
      </td>
    </ng-container>

    <div *ngIf="perfil == 'Cliente'">
      <tr mat-header-row *matHeaderRowDef="columsCliente"></tr>
      <tr mat-row *matRowDef="let row; columns: columsCliente;"></tr>
    </div>

    <div *ngIf="perfil == 'Recepcionista'">
      ola
      <tr mat-header-row *matHeaderRowDef="columsRecepcionista"></tr>
      <tr mat-row *matRowDef="let row; columns: columsRecepcionista;"></tr>
    </div>

    <div *ngIf="perfil == 'Especialista'">
      <tr mat-header-row *matHeaderRowDef="columsEspecialista"></tr>
      <tr mat-row *matRowDef="let row; columns: columsEspecialista;"></tr>
    </div>

  </table>

  <div *ngIf="noData | async" class="no-resultados">
    No hay resultados
  </div>
</div>