<h2>Turnos</h2>
<h3>Realizados por Cliente: </h3> {{porCliente?.length}}
<h3>Realizados por Recepcionista: </h3> {{porRecepcionista?.length}}
<table border="1">
    <tbody>
        <tr>
            <td><strong>Cantidad de Turnos</strong></td>
            <td>{{data?.length}}</td>
        </tr> 
        <tr>
            <td><strong>Mejores comentarios</strong></td>
            <td *ngFor="let turno of mejoresComentarios">{{turno.ObservacionesEspecialista}}</td>
        </tr> 
        <tr>
            <td><strong>Peores comentarios</strong></td>
            <td *ngFor="let turno of peoresComentarios">{{turno.ObservacionesEspecialista}}</td>
        </tr> 
    </tbody>
</table>